*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .myDiv {
        border: 1px solid black;
        width: 600px;
        height: 400px;
        text-align: center;
        padding: 10px;
    }
}